<!DOCTYPE html>

<html ng-app="Index" lang="en" class="ng-scope"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
	<title>eGlobal Reader Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://www.eglobalreader.com/css/bootstrap.css" rel="stylesheet">
	<link href="http://www.eglobalreader.com/css/style.css" rel="stylesheet">
    <script type="text/javascript" async="" src="./eGlobal Reader Home_files/ga.js"></script><script src="./eGlobal Reader Home_files/analytics.js"></script>
   	<script src="./eGlobal Reader Home_files/jquery.min.js"></script>
	<script src="./eGlobal Reader Home_files/bootstrap.js"></script>
	<script src="./eGlobal Reader Home_files/angular.min.js"></script>
	<script src="./eGlobal Reader Home_files/egrutils.js"></script>
	<script src="./eGlobal Reader Home_files/index.js"></script>

<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>
<body ng-controller="indexCtrl" style="" class="ng-scope">
	<div class="container-fluid">
		<!-- ngInclude: 'header.html' --><div ng-include=" &#39;header.html&#39; " class="ng-scope"><!-- EGR homepage header  -->
 	<div class="row ng-scope">
		  <div class="col-xs-12">
			  <div class="navbar navbar-default" role="navigation">
				<div class="navbar">
					<a href="http://www.eglobalreader.com/index.html" class="navbar-brand"><img src="./eGlobal Reader Home_files/transp.gif" class="logo1" alt="eGlobal Reader logo"></a>
			        	<div class="text-right">
			            		<div class="text-right top-nav">		
					        	<!-- <ul style="padding-left:0">
						        	<li class="dropdown">
			              		         <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b> English</a>
			              		    	 <ul class="dropdown-menu">
			                				<li ><a href="#" >Spanish</a></li>
			                				<li><a href="#">Chinese</a></li>
			              		    	 </ul>
			            			</li>
						         	<li class="divider">|</li>
			        	        	<li><a href= "login.html">Login</a></li>
					        	</ul> -->
					        	<a class="lead" href="http://www.eglobalreader.com/login.html">Login</a>
				        	</div>
			        	</div>
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">			
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="navbar-collapse collapse navHeaderCollapse" style="border:0">
						<ul class="nav navbar-nav navbar-right text-right">
			 				<li><a href="http://www.eglobalreader.com/#" style="padding-top:5px;"><img src="./eGlobal Reader Home_files/twitter.jpg" height="27px" alt="twitter-icon" title="Twiter" class="img-circle"></a></li>
							<li><a href="http://www.eglobalreader.com/#" style="padding-top:5px;"><img src="./eGlobal Reader Home_files/facebook.jpg" height="27px" alt="facebook-icon" title="Facebook" class="img-circle"></a></li>

							<li><a href="http://www.eglobalreader.com/schools.html">Schools</a></li>
							<li><a href="http://www.eglobalreader.com/parents.html">Parents</a></li>
							<li><a href="http://www.eglobalreader.com/about.html">About</a></li>
							<li><a href="http://www.eglobalreader.com/contactus.html">Contact</a></li>
						</ul>
					</div>
				</div>
			  </div>
		  </div>
	  </div>  </div>
		
		<div class="jumbotron gradient">
	  	   <p class="text-right"><a ng-click="scrollTo(&#39;signup&#39;)" class="btn btn-primary btn-lg blue get_started" type="button">Get started</a></p>
<div class="book text-center" style="display:inline-block;">
	       <p class="h1-book gray-text">Unputdownable<br>bilingual e-books<br>for young readers</p>
	       <p class="h2-book see_how"><a ng-click="scrollTo(&#39;how_works&#39;)" class="blue-text">See how it works</a></p>
	  </div>
	  <p class="text-center"><button ng-click="scrollTo(&#39;signup&#39;)" class="btn btn-primary  btn-lg blue get_started2" type="button">Get started</button></p>

  </div>


	  	<div class="container">
  		<div class="row">
			<div class="col-md-6 ">
				<div class="row">
      					<div class="col-xs-12 col-sm-6">
         					<div class="text-center">
 	          					<p class="h1-book gray-text ">Read</p>
 	          					<p class="lead">Interactive, illustrated bilingual books</p>
          						<img class="" src="./eGlobal Reader Home_files/EGR-on-monitor-and-tablet.jpg" alt="Generic placeholder image">
          					</div>
          					<br>
          					<p class="lead">immerse children in leveled texts with exciting graphics and relevant content.</p>
          					<p class="lead"><b>Teachers</b> can use the books in the classroom as supplemental, fun literature to support single language or dual language learning curriculum.</p>
          					<p class="lead"><b>Parents</b> will find a fun way to expose children to a second language, listening to native speakers, and reading on their own.</p>
					</div>
	      				<div class="col-xs-12 col-sm-6">
         					<div class="text-center">
			          			<p class="gray-text h1-book">Listen</p>
			          			<p class="lead">Native speakers narrate every book</p>
  	        					<img class="" src="./eGlobal Reader Home_files/smart-books-ugly-duckling.jpg" alt="Generic placeholder image">
 				  		</div>
 				  		<br>
       					<p class="lead">and offer word-by-word audio support with definitions in context in both languages.  When read aloud, each word or word group is highlighted to help the reader follow the text. Every word is individually clickable for auditory support in the second language, when needed. These unique features allow students to read independently  - and at their own pace - without help from a parent or teacher.
</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 ">
				<div class="row">
	      				<div class="col-xs-12 col-sm-6">
         					<div class="text-center ">
	          					<p class="gray-text h1-book">Play</p>
	          					<p class="lead">Games reinforce comprehension</p>
  	        					<img class="" src="./eGlobal Reader Home_files/comprehension-games-duckling.jpg" alt="Generic placeholder image">
  	      					</div>
  	      					<br>
          					<p class="lead">through associated activities that activate learning. The games also enable progress tracking in real time.</p>
		  				</div>
	      				<div class="col-xs-12 col-sm-6">
          					<div class="text-center ">
	          					<p class="gray-text h1-book">Track</p>
	          					<p class="lead">Learning activity and progress</p>	          					
  	       					    <img class="" src="./eGlobal Reader Home_files/analytics.jpg" alt="Generic placeholder image">
  	     					</div>
  	     					<br>
          					<p class="lead">are captured for educators to inform each day's instruction, report on each child's progress and correlate individual literacy development with literacy targets.</p>		
          					<p class="lead">Parents will also receive valuable feedback via an easy-to-read report so they can follow their child's progress and work with teachers to support their child's learning development.</p>		
		  				</div>
		  	   </div> <!-- row -->
			</div> <!-- col -->
		</div> <!-- row-->
		<div class="row last-article">
			<div class="col-xs-12 text-center">
				<img src="./eGlobal Reader Home_files/kids-laptops.png" alt="kids-laptops" width="340" height="228">
			</div>
		</div>
		<br>
  	   <div class="row last-article">
			<div class="col-xs-12">
				<p class="lead">eGlobalReader's growing library of bilingual books are written to support all language learners.  They are appropriate for single language or dual language learning. Books feature basic vocabulary, popular themes, as well as global legends and fairytales.</p>
				<p class="lead">The books can be read on Safari and Chrome browsers on a computer or tablet devices.</p>
				<p class="lead">eGlobalReader books are currently available in Mandarin-English and Spanish-English.  Look for more languages in the near future!</p>
			</div>      					
  	   </div> <!-- row-->
		  	   

	</div> <!-- container-->
	   	<div id="how_works"></div>
		<div class="jumbotron blue">
      		<div class="container">
 	      		<div class="row">
 				<div class="col-md-6">
			      		<div class="row">
	      					<div class="col-xs-12 text-center">
				      			<h2>See how it works</h2>
							<video width="100" height="240" controls="" class="video_panel">
  								<source src="mp3/eGlobalReader_demo.mp4" type="video/mp4">
 								<source src="mp3/eGlobalReader_demo.ogg" type="video/ogg">
  								Your browser does not support the video tag.
							</video>       		
						</div>
					</div>
				</div>
				<div class="col-md-6">
			      		<div class="row">
	      					<div class="col-xs-12 text-center">
					    		<h2>Peek inside a book</h2>
    							<a href="http://www.eglobalreader.com/demo_books/senses/index.html" target="_blank" class="thumbnail-new"><img src="./eGlobal Reader Home_files/samplebook-ENG-CHI.jpg" alt="samplebook-ENG-CHI"></a>
							<a href="http://www.eglobalreader.com/demo_books/ugly-duckling-short/index.html" target="_blank" class="thumbnail-new"><img src="./eGlobal Reader Home_files/samplebook-SPA-ENG.jpg" alt="samplebook-SPA-ENG"></a>
  						</div>
	      				</div>
				</div>
			</div>
      		</div>
  	</div>
	
		<div class="container" id="signup">
		<div class="row">
			<div class="col-md-12 text-center step">
				<h1 class="blue-text">Sign up</h1>
			</div>
		</div> <!--row-->
   		<div class="row">
    		<div class="col-md-6 text-center step">
    			<br>

     			<p class="lead">If you have received a School Code you can use it here to sign up for a free account</p>
       		</div>
	   		<div class="col-md-6 text-center" style="border-left: 1px solid #ccc;">
     			<p class="lead">For only <span style="font-size:45px">$99</span> (after a 2 months FREE trial) you and up to 30 of your students can start reading for one full year from our library of 32 bilingual books in 3 levels in either English and Chinese or English and Spanish. You will be able to select the grade and language pair that your users will see in the books. After you complete your registration you will receive a School Code that you can email to your class parents to allow them to get accounts for their children. You can cancel your subscription at any time during the first 2 FREE months period by sending us an email at <a href="mailto:support@eglobalreader.com">support@eglobalreader.com</a> and your credit card will not be charged.</p>
   			</div>
  		</div> <!--row-->
  		<div class="row">
	  		<div class="col-md-6 text-center step">
       			<a class="btn btn-primary btn-lg blueBtn" role="button" href="http://www.eglobalreader.com/signupschoolcode.html">Sign Up with a School Code</a>
	  		</div>
	  		<div class="col-md-6 text-center step">
	  			<!--<<<<<<< We are hardcoding the plan ID in the link to the signupwithcc page -->
	       		<a class="btn btn-primary btn-lg orangeBtn" role="button" href="http://www.eglobalreader.com/signupteachercc.html?plan=1Y99USD30USERS">Purchase a new subscription</a>
	  		</div>
  		</div> <!--row-->
  		<div class="row">
	  		<div class="col-md-12 text-center step">
	  		<h4>Contact us at <a href="mailto:info@eglobalreader.com">info@eglobalreader.com</a> for a special offer if you have more than 30 students.</h4>
	  		</div>
  		</div> <!--row-->
  	</div>
	
	<!-- ngInclude: 'footer.html' --><div ng-include="&#39;footer.html&#39;" class="ng-scope"><!-- EGR homepage footer -->

		<footer class="bs-footer ng-scope" role="contentinfo">
			<div class="container">
				<ul class="footer-links">
					<li><a href="http://www.eglobalreader.com/termsofservice.html">Terms</a></li>
					<li class="muted">|</li>
					<li><a href="http://www.eglobalreader.com/termsofservice.html#privacy">Privacy</a></li>
					<li class="muted">|</li>
					<li><a href="http://www.eglobalreader.com/#">Recognition</a></li>
					<li class="muted">|</li>
					<li><a href="http://www.eglobalreader.com/about.html#team">Team</a></li>
					<li class="muted">|</li>
					<li><a href="http://www.eglobalreader.com/contactus.html">Support</a></li>
					<li class="muted">|</li>
<!--					<li><a href="#">Jobs</a></li>  -->
				</ul>
		        	<p class="text-muted credit">©2013-2014 eGlobalReader, LLC, All rights reserved. Patens pending.</p>
			</div>
		</footer>
</div>
	</div> <!-- container-fluid-->

</body></html>